{
	"parser": "babel-eslint",
	"rules": {
		"max-len": [1, 150, 2, {
			"ignoreComments": true
		}],
		"semi": 2,
		"eqeqeq": 2,
		"quotes": [2, "single"],
		"indent": [2, 4],
		"no-console": 2,
		"no-debugger": 2,
		"no-use-before-define": 2,
		"camelcase": 2,
		"no-multi-spaces": 2
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	}
}