.arrow {
    width: 120px;
    margin: 50px auto;
}

.line {
    margin-top: 14px;
    width: 90px;
    height: 10px;
    float: left;
}

.point {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    float: right;
}

.down {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.down-line {
    background: red;
}

.down-point {
    border-left: 30px solid red;
}

.up {
    -ms-transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg);
}

.up-line {
    background: green;
}

.up-point {
    border-left: 30px solid green;
}
