.app {
    width: 50%;
    margin: 40px auto;
}

.arrowContainer {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.arrowRed {
	color: red;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.arrowGreen {
	color: green;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 5px;
}